In [7]:
# import data
import pandas as pd
# load part 1 of dataset

data1 = pd.read_csv('/Users/hlabs/Desktop/dataindoredo/text1.txt', sep = "\t", names = ["user_id", "user_name", "user_email", "user_pwd", "status", "full_name", "sex", "birth_date", "location", "msisdn", "messenger", "flag_email", "flag_messenger", "flag_birthdate", "flag_hp", "flag_img"," occupation"," company", "schools", "hobbies", "relationship", "activation_code", "about_me", "last_login", "deposit", "create_by", "create_time", "update_by", "update_time", "email_new", "email_cancel_code", "email_confirm_code", "reset_password_code", "profile_effective_date", "status_data", "shop_info", "lang", "user_pwd_1", "uniq_char"])
data2 = pd.read_csv('/Users/hlabs/Desktop/dataindoredo/text2.txt', sep = "\t", names = ["user_id", "user_name", "user_email", "user_pwd", "status", "full_name", "sex", "birth_date", "location", "msisdn", "messenger", "flag_email", "flag_messenger", "flag_birthdate", "flag_hp", "flag_img"," occupation"," company", "schools", "hobbies", "relationship", "activation_code", "about_me", "last_login", "deposit", "create_by", "create_time", "update_by", "update_time", "email_new", "email_cancel_code", "email_confirm_code", "reset_password_code", "profile_effective_date", "status_data", "shop_info", "lang", "user_pwd_1", "uniq_char"])
data3 = pd.read_csv('/Users/hlabs/Desktop/dataindoredo/text3.txt', sep = "\t", names = ["user_id", "user_name", "user_email", "user_pwd", "status", "full_name", "sex", "birth_date", "location", "msisdn", "messenger", "flag_email", "flag_messenger", "flag_birthdate", "flag_hp", "flag_img"," occupation"," company", "schools", "hobbies", "relationship", "activation_code", "about_me", "last_login", "deposit", "create_by", "create_time", "update_by", "update_time", "email_new", "email_cancel_code", "email_confirm_code", "reset_password_code", "profile_effective_date", "status_data", "shop_info", "lang", "user_pwd_1", "uniq_char"])
data4 = pd.read_csv('/Users/hlabs/Desktop/dataindoredo/text4.txt', sep = "\t", names = ["user_id", "user_name", "user_email", "user_pwd", "status", "full_name", "sex", "birth_date", "location", "msisdn", "messenger", "flag_email", "flag_messenger", "flag_birthdate", "flag_hp", "flag_img"," occupation"," company", "schools", "hobbies", "relationship", "activation_code", "about_me", "last_login", "deposit", "create_by", "create_time", "update_by", "update_time", "email_new", "email_cancel_code", "email_confirm_code", "reset_password_code", "profile_effective_date", "status_data", "shop_info", "lang", "user_pwd_1", "uniq_char"])
data5 = pd.read_csv('/Users/hlabs/Desktop/dataindoredo/text5.txt', sep = "\t", names = ["user_id", "user_name", "user_email", "user_pwd", "status", "full_name", "sex", "birth_date", "location", "msisdn", "messenger", "flag_email", "flag_messenger", "flag_birthdate", "flag_hp", "flag_img"," occupation"," company", "schools", "hobbies", "relationship", "activation_code", "about_me", "last_login", "deposit", "create_by", "create_time", "update_by", "update_time", "email_new", "email_cancel_code", "email_confirm_code", "reset_password_code", "profile_effective_date", "status_data", "shop_info", "lang", "user_pwd_1", "uniq_char"])

In [8]:
data = [data1, data2, data3, data4, data5]
dataset = pd.concat(data).reset_index()
dataset.tail(200)

,index,user_id,user_name,user_email,user_pwd,status,full_name,sex,birth_date,location,...,email_new,email_cancel_code,email_confirm_code,reset_password_code,profile_effective_date,status_data,shop_info,lang,user_pwd_1,uniq_char
1599460,317961,18530393,\N,sirahlanstore@gmail.com,NaN,1.0,SirAhlanStore,1.0,1994-09-23,\N,...,\N,\N,\N,\N,2017-05-22 18:48:37.974223,1,\N,\N,874e1a460f9a25facd5eba69cf6ef62f4eccb5234760d9...,69fe
1599461,317962,18530415,\N,agungriniclick@gmail.com,NaN,1.0,Rini Firdayeni Oktavia,2.0,\N,\N,...,\N,\N,\N,\N,2017-05-22 18:49:47.574255,1,\N,\N,26ee9ad7809917cb9c78dca6f9f9513e14ea87296dca01...,9853
1599462,317963,18530416,\N,chamomille2017@gmail.con,NaN,-1.0,Eni,2.0,1982-10-20,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,ea896de0a53ec10cdfb298e2b1c04b5823934692eba859...,10a5
1599463,317964,18530417,\N,titanraisa@gmail.com,NaN,1.0,M Titan P,1.0,2002-04-09,\N,...,\N,\N,\N,05278856-af44-4db0-a933-8072eae34891,2017-05-22 19:24:15.05574,1,\N,\N,a244c5b4c1af6686c6ba16850a146f2bb9f720a9de933f...,0737
1599464,317965,18530421,\N,yayascelebess@gmail.com,NaN,1.0,Yayas Celebess,1.0,\N,\N,...,\N,\N,\N,\N,2017-05-22 18:49:51.086551,1,\N,\N,285b54f488e4fefcc5cd4423c7de926867f92497099ccc...,23bb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599655,318156,22164087,\N,dwiputricahaya200@gmail.com,NaN,1.0,Dwi,0.0,\N,\N,...,\N,\N,\N,\N,2017-09-28 07:38:34.171569,1,\N,\N,f772fe677a0edf916e13821fb14be5448cf0c82433bffb...,0212
1599656,318157,18530443,\N,tie_fun14@yahoo.co.id,\N,1.0,Uty,2.0,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1599657,318158,16181907,\N,baguadhii@gmail.com,NaN,1.0,Bagus Adhitya,1.0,1991-01-01,\N,...,\N,\N,\N,\N,2017-03-03 23:44:17.758017,\N,\N,\N,\N,\N
1599658,318159,38601915,\N,6283134634458,\N,1.0,Yoyon,0.0,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1599659,318160,48045619,\N,lina.rahmayani10@gma,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
#FB URL search
# df['url'] = df['url'].replace({'icashier.alipay.com': 'aliexpress.com'}, regex=True)

dataset['search'] = dataset['user_email'].str.replace('@','%40')
dataset['search'].astype(str)
dataset['search'] = 'https://www.facebook.com/search/people/?q=' ++ dataset['search']


pd.set_option('display.max_colwidth', None)
dataset['search'].head(200)


# https://www.facebook.com/search/people/?q=

0        https://www.facebook.com/search/people/?q=lindakristantho%40gmail.com
1            https://www.facebook.com/search/people/?q=ir.chephoet%40yahoo.com
2        https://www.facebook.com/search/people/?q=lusitriasih2014%40gmail.com
3           https://www.facebook.com/search/people/?q=jannamonroe5%40gmail.com
4              https://www.facebook.com/search/people/?q=langkah9b%40gmail.com
                                        ...
195    https://www.facebook.com/search/people/?q=prima_togatorop%40yahoo.co.id
196       https://www.facebook.com/search/people/?q=dindaanindia62%40yahoo.com
197      https://www.facebook.com/search/people/?q=deang.distroy%40yahoo.co.id
198        https://www.facebook.com/search/people/?q=pputra12%40rocketmail.com
199         https://www.facebook.com/search/people/?q=fidaasma1112%40gmail.com
Name: search, Length: 200, dtype: object

In [32]:
dataset[['user_id','full_name','birth_date','about_me','search', 'email_new', 'msisdn']].head(200)

,user_id,full_name,birth_date,about_me,search,email_new,msisdn
0,32538548,Linda Kristantho,\N,\N,https://www.facebook.com/search/people/?q=lindakristantho%40gmail.com,\N,\N
1,31106802,[CHARACTER_NOT_ALLOWED],1997-01-05,\N,https://www.facebook.com/search/people/?q=ir.chephoet%40yahoo.com,\N,\N
2,27208217,Lusi Tri Asih,1996-01-07,\N,https://www.facebook.com/search/people/?q=lusitriasih2014%40gmail.com,\N,081327279680
3,26878874,Janna Monroe,\N,\N,https://www.facebook.com/search/people/?q=jannamonroe5%40gmail.com,\N,6285719670685
4,26856194,Oka,2002-06-29,\N,https://www.facebook.com/search/people/?q=langkah9b%40gmail.com,\N,6287868837705
...,...,...,...,...,...,...,...
195,21136973,Prima Parera,\N,\N,https://www.facebook.com/search/people/?q=prima_togatorop%40yahoo.co.id,\N,6282361123495
196,21136997,Dinda anindia,1998-05-08,\N,https://www.facebook.com/search/people/?q=dindaanindia62%40yahoo.com,\N,6285956590472
197,21136998,Sanira,\N,\N,https://www.facebook.com/search/people/?q=deang.distroy%40yahoo.co.id,\N,6285247971065
198,21136999,Rahmadani Permana Putra,1997-01-11,\N,https://www.facebook.com/search/people/?q=pputra12%40rocketmail.com,\N,628990583334
199,21137000,fidaasmaadilah,\N,\N,https://www.facebook.com/search/people/?q=fidaasma1112%40gmail.com,\N,6285274106380

In [ ]:
#FB URL search
# df['url'] = df['url'].replace({'icashier.alipay.com': 'aliexpress.com'}, regex=True)

dataset['phonesearch'] = dataset['user_email'].str.replace('@','%40')
dataset['phonesearch'].astype(str)
dataset['phonesearch'] = 'https://www.facebook.com/search/people/?q=' ++ dataset['search']


pd.set_option('display.max_colwidth', None)